<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<mercado_pago>
				<actionForNew>authorize_capture</actionForNew>
				<actionForReturned>authorize_capture</actionForReturned>
				<requireBillingAddress>1</requireBillingAddress>
				<currency>order</currency>
				<description>{order.id}</description>
				<title>Bank Card</title>
				<title_backend>MercadoPago</title_backend>
			</mercado_pago>
		</df_payment>
        <payment>
            <dfe_mercado_pago>
<!-- 2017-07-24
@used-by \Magento\Payment\Helper\Data::getMethodModelConfigName():
	protected function getMethodModelConfigName($code) {
		return sprintf('%s/%s/model', self::XML_PATH_PAYMENT_METHODS, $code);
	}
https://github.com/magento/magento2/blob/2.2.0-RC1.5/app/code/Magento/Payment/Helper/Data.php#L85-L92
-->
				<model>Dfe\MercadoPago\Method</model>
            </dfe_mercado_pago>
        </payment>
    </default>
</config>